<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>firekeeper-simple</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/resource/style/app.css">
</head>
<body>
    <div class="main-container">
        <div class="row header-account">
            <div class="col-6">
                <p>微助</p>
            </div>
            <div class="col-10">
                <input class="header-input" placeholder="搜索你想捐助的物品">
            </div>
            <div class="col-3">
                <a class="header-search" href="javascript:">搜索</a>
            </div>
            <div class="col-5">
                <!--  .has-login -->
                <!--    a(href="/home/myinfo") 我的信息 |-->
                <!--    a.header-exit(href="/home/login") 退出-->
                <div class="no-login">
                    <a href="/home/login">登录 |</a>
                    <a href="/home/register">注册</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="main-container">
            <div class="row">
                <div class="col-4 offset-4">
                    <a class="active" href="/home/index">首页</a>
                </div>
                <div class="col-4">
                    <a href="/home/applyhelp">申请帮助</a>
                </div>
                <div class="col-4">
                    <a href="/home/helphistory">捐助查询</a>
                </div>
                <div class="col-4">
                    <a href="javascript:">关于我们</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="public-spilt">我的信息</div>
        <div class="myinfo-container">
            <div class="account-spilt">个人信息</div>
            <div class="row account-row">
                <div class="col-5">
                    <p>手机号</p>
                </div>
                <div class="col-19">
                    <input class="user" placeholder="请输入手机号" name="username">
                    <p class="show">15552</p>
                </div>
            </div>
            <div class="row account-row">
                <div class="col-5">
                    <p>姓名</p>
                </div>
                <div class="col-19">
                    <input class="pwd" placeholder="请输入姓名" name="userpwd">
                    <p class="show">齐坤丽</p>
                </div>
            </div>
            <div class="account-spilt">取件地址（便于捐助时，工作人员取件）</div>
            <div class="row account-row">
                <div class="col-5">
                    <p>学校</p>
                </div>
                <div class="col-19">
                    <input class="pwd" placeholder="请输入学校" name="school">
                    <p class="show">华北理工大学</p>
                </div>
            </div>
            <div class="row account-row">
                <div class="col-5">
                    <p>宿舍楼</p>
                </div>
                <div class="col-19">
                    <input class="pwd" placeholder="请输入宿舍楼" name="room">
                    <p class="show">A座</p>
                </div>
            </div>
            <div class="row account-row">
                <div class="col-5">
                    <p>详细地址</p>
                </div>
                <div class="col-19">
                    <input class="pwd" placeholder="请输入详细地址(最少5个字)" name="detailaddr">
                    <p class="show">228</p>
                </div>
            </div>
            <a class="account-btn" id="change-myinfo" href="javascript:">修改</a>
            <a class="account-btn" id="confirm-change" href="javascript:">确认</a>
        </div>
    </div>
    <script src="/resource/vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="/resource/script/app.babel.js"></script>
    <script src="/resource/script/myinfo.babel.js"></script>
</body>
</html>